---
layout: default
---
#side-index
  a.i-unit href="#"
    | Casua (0.0.2)
#main-content
  header
    h1 Casua
    p A casual and neat Structured Template and MVVM engine.
    p
      a href="https://github.com/aligo/casua"
        | View the Project on GitHub 
        small aligo/casua